In [1]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)

In [2]:
# filter df to create 2 new dfs: buys and sells
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells

In [3]:
# create the single row dfs (first row from buys and sells)

b <- buys[1,]
s <- sells[1,]

In [4]:
stop\ps

ERROR: Error in parse(text = x, srcfile = src): <text>:1:5: unexpected '\\'
1: stop\
        ^

## <font color = yellow> Working Example for demo

In [ ]:
# This will demo passing a df, modi a row from that df, bind that modi to 
#  a new df, and then loop 3x to achieve binding 3 modi rows to the new df, 
#  then pass the new 3 row df to the result variable


modified_function <- function(buys) {
    # Initialize an empty data frame to store modified versions
    modified_df <- data.frame()

    # Loop through the modifications (replace with your actual loop)
    for (i in 1:3) {
        # Modify the original_df (replace with your actual modification logic)
        modified_row <- buys[i,]

        # Append the modified row to the data frame
        modified_df <- rbind(modified_df, modified_row)
    }
    # Return the final modified data frame
    return(modified_df)
    }



# the result variable has the first 3 rows of data from the buys df
modified_df <- modified_function(buys)
modified_df

In [ ]:
stopps

## <font color = yellow> Next, reduce buys using buys[-1, ]

In [ ]:

modified_function <- function(buys) {
    # Initialize an empty data frame to store modified versions
    modified_df <- data.frame()

    # Loop through the modifications (replace with your actual loop)
    for (i in 1:3) {
        # Modify the original_df (replace with your actual modification logic)
        cat("The nrow of buys is: ", nrow(buys), "\n")
        
        modified_row <- buys[1,]

        # Append the modified row to the data frame
        modified_df <- rbind(modified_df, modified_row)
        
        buys <- buys[-1, ]
    }
    # Return the final modified data frame
    return(modified_df)
    }


# the result variable has the first 3 rows of data from the buys df
modified_df <- modified_function(buys)
modified_df

In [ ]:
stopps

## <font color = yellow> Next, return the reduce buys df using return (list)

In [ ]:
modified_function <- function(buys) {
    # Initialize an empty data frame to store modified versions
    modified_df <- data.frame()

    # Loop through the modifications (replace with your actual loop)
    for (i in 1:3) {
        # Modify the original_df (replace with your actual modification logic)
        cat("The nrow of buys is: ", nrow(buys), "\n")
        
        modified_row <- buys[1,]

        # Append the modified row to the data frame
        modified_df <- rbind(modified_df, modified_row)
        
        buys <- buys[-1]
    }
    # Return a list
    return_list <- as.list(modified_df, buys)
    return(return_list)
    }



# return(list(df = df, df_records = df_records, buys = buys, sells = sells))

# Access the dataframes from returned list
# df <- dfs$df
# df_records <- dfs$df_records
# buys <- dfs$buys
# sells <- dfs$sells

modified_df <- modified_df
buys <- buys

nrow(buys)
buys[1,]
modified_df

#### <font color = lime> Perfect!  3 different rows of buys were returned

## <font color = yellow> Next, make mods to b, then return those changes

In [ ]:
include_sale_data_to_b <- function(b,s) {
    
     b <- b
    s <- s
    
    cat("\n\n"," Top of process sale function (): ", "\n")
    
    sale <- s$quan
    bs_ratio <- b$quan / s$quan
    cf_quan <-  b$quan - s$quan
    
    # assign the cf values - if they exist
    if(b$quan > s$quan) {
        b$cf_quan <- (b$quan - s$quan)        
        b$cf_pps <- b$pps
        b$cf_basis <- cf_quan * b$pps
    } else {
    b$sale_quan <- b$quan
    b$buy_quan <- s$quan 
    b$buy_pps <-  b$pps
    b$buy_basis <-  b$buy_quan * b$pps

    b$sell_quan <- s$quan
    b$sell_pps <- s$pps
    b$sell_basis <- s$quan * s$pps

    b$profit_loss <- b$sell_basis - b$buy_basis
    b$sale <- sale
    
    s$type <- "SOLD" 
        
    x <- b
        
    } # else
    
    return(x)
    }

In [ ]:
s <- sells[1,]
b <- buys[1,]

x <- include_sale_data_to_b(b,s)

# result var
x
# the b df does NOT change

### <font color = lime> Perfect!

## <font color = yellow> Next, make mods to b in a 3x loop. Return new df w/ those changes
    
#### Without looking

In [ ]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells

In [ ]:
# head(buys, 3)
# head(sells, 3)
b <- buys[1,]
s <- sells[1,]
b
s

In [ ]:
include_sell_data_to_b <- function(b) {
    
    sale <- s$quan
    bs_ratio <- b$quan / s$quan
    cf_quan <-  b$quan - s$quan
    
    # assign the cf values - if they exist
    if(b$quan > s$quan) {
        b$cf_quan <- (b$quan - s$quan)        
        b$cf_pps <- b$pps
        b$cf_basis <- cf_quan * b$pps
    }
    b$sale_quan <- b$quan
    b$buy_quan <- s$quan 
    b$buy_pps <-  b$pps
    b$buy_basis <-  b$buy_quan * b$pps

    b$sell_quan <- s$quan
    b$sell_pps <- s$pps
    b$sell_basis <- s$quan * s$pps

    b$profit_loss <- b$sell_basis - b$buy_basis
    b$sale <- sale
    
    s$type <- "SOLD"
    
    temp <- b
    return(temp)
    
    }

In [ ]:
updated_b <- include_sell_data_to_b(b)
updated_b

#### <font color = lime> Returned one, next return three

In [ ]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells

In [ ]:
# head(buys, 3)
# head(sells, 3)
b <- buys[1,]
s <- sells[1,]
b
s

In [ ]:
include_sell_data_to_b <- function(b) {
    
    df_loop <- data.frame()
    
    for(i in 1:3) {

        b <- buys[1,]
        s <- sells[1,]
        cat("test if there is a changine b value in loop using b$quan ", b$pps, "\n")

        sale <- s$quan
        bs_ratio <- b$quan / s$quan
        cf_quan <-  b$quan - s$quan

        # assign the cf values - if they exist

        b$sale_quan <- b$quan
        b$buy_quan <- s$quan 
        b$buy_pps <-  b$pps
        b$buy_basis <-  b$buy_quan * b$pps
        b$sell_quan <- s$quan
        b$sell_pps <- s$pps
        b$sell_basis <- s$quan * s$pps
        b$profit_loss <- b$sell_basis - b$buy_basis
        b$sale <- sale    
        s$type <- "SOLD"
        temp <- b

        df_loop <- rbind(temp, df_loop)
        buys <- buys[-1,]
        sells <- sells[-1,]
    } # for
     return(df_loop)
    
} # fct
nrow(buys)    # No changes to b in this fct

In [ ]:
updated_b <- include_sell_data_to_b(b)
updated_b

In [ ]:
nrow(buys)

#### <font color = lime> Perfect, ... and done w/out looking
    
    
##### New learned ... the resulting variable is reversed when using the rbind() fct

## <font color = yellow>  Next, return 3 while making permanent changes to the buys df

In [ ]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells

In [ ]:
# head(buys, 3)
# head(sells, 3)
b <- buys[1,]
s <- sells[1,]
# b
# s

In [ ]:
include_sell_data_to_b <- function(b) {
    
    df_loop <- data.frame()
    temp_buys <- data.frame()
    
    for(i in 1:3) {

        b <- buys[1,]
        s <- sells[1,]
        cat("test if there is a changine b value in loop using b$quan ", b$pps, "\n")

        sale <- s$quan
        bs_ratio <- b$quan / s$quan
        cf_quan <-  b$quan - s$quan

        # assign the cf values - if they exist

        b$sale_quan <- b$quan
        b$buy_quan <- s$quan 
        b$buy_pps <-  b$pps
        b$buy_basis <-  b$buy_quan * b$pps
        b$sell_quan <- s$quan
        b$sell_pps <- s$pps
        b$sell_basis <- s$quan * s$pps
        b$profit_loss <- b$sell_basis - b$buy_basis
        b$sale <- sale    
        s$type <- "SOLD"
        temp <- b

        df_loop <- rbind(temp, df_loop)
        
        buys <- buys[-1,]
        sells <- sells[-1,]
        temp_buys <- buys
        
    } # for
    
     return(list(df_loop, temp_buys))
    
} # fct
nrow(buys)    # No changes to b in this fct

In [ ]:
return_list <- include_sell_data_to_b(b)

sales_records <- return_list[[1]]
buys <- return_list[[2]]

nrow(buys)
buys[1,]
sales_records

## <font color = lime> Perfect! 
    
#### The problems are arise from having used variables that remain in Notebook from previous runs

## <font color = yellow> Last run: Use the insert_row from tibbles to create itinerated sales_records 

#### As before, do w/out looking

In [5]:
library(tibble)

In [6]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sel

In [7]:
# head(buys, 3)
# head(sells, 3)
b <- buys[1,]
s <- sells[1,]
# b
# s

#### the add_row () from the tibble pkg
    df <- df %>% add_row(.before = i+1, !!!new_row)
    df <- add_row(df, temp, .after = i)

In [8]:
include_sell_data_to_b <- function(b) {
    
    df_loop <- data.frame()
    temp_buys <- data.frame()
    
    for(i in 1:3) {

        b <- buys[1,]
        s <- sells[1,]
        cat("test if there is a changine b value in loop using b$quan ", b$pps, "\n")

        sale <- s$quan
        bs_ratio <- b$quan / s$quan
        cf_quan <-  b$quan - s$quan

        # assign the cf values - if they exist

        b$sale_quan <- b$quan
        b$buy_quan <- s$quan 
        b$buy_pps <-  b$pps
        b$buy_basis <-  b$buy_quan * b$pps
        b$sell_quan <- s$quan
        b$sell_pps <- s$pps
        b$sell_basis <- s$quan * s$pps
        b$profit_loss <- b$sell_basis - b$buy_basis
        b$sale <- sale    
        s$type <- "SOLD"
        temp <- b

        df_loop <- add_row(temp, df_loop, .before = i)
        
        buys <- buys[-1,]
        sells <- sells[-1,]
        temp_buys <- buys
        
    } # for
    
     return(list(df_loop, temp_buys))
    
} # fct
nrow(buys)    # No changes to b in this fct

[1] 23

In [9]:
return_list <- include_sell_data_to_b(b)


unsorted_sales_records <- return_list[[1]]
sales_records <- unsorted_sales_records[order(unsorted_sales_records$index), ]

buys <- return_list[[2]]

test if there is a changine b value in loop using b$quan  4.07
test if there is a changine b value in loop using b$quan  5.625
test if there is a changine b value in loop using b$quan  5.788

In [10]:
sales_records
nrow(buys)
buys[1,]

  index date  type co  quan pps   basis  sale_quan tally cf_quan cf_pps
3 1     44926 Buy  AMC 1000 4.070 4273.5 1000      0     0       0
2 3     44946 Buy  AMC 1000 5.625 5625.0 1000      0     0       0
1 5     44949 Buy  AMC 1000 5.788 5788.0 1000      0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
3 0        1000     4.070   4070      1000      5.51240  5512.40    1442.40
2 0        1000     5.625   5625      1000      6.68255  6682.55    1057.55
1 0        1000     5.788   5788      1000      6.25500  6255.00     467.00
  sale
3 1000
2 1000
1 1000

[1] 20

  index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
7 7     44953 Buy  AMC 2000 5.2394 10478.8 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
7 0        0        0       0         0         0        0          0
  sale
7 0