In [1]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)

In [2]:
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells

In [3]:
i <- 1

## <font color = yellow> Create b and s, then modify b in process_sale () fct

In [4]:
# create one line dfs (first row ) from buys and sells dfs
s <- data.frame()
b <- data.frame()

# Filters the dfs buys and sells, then creates the single row dfs: b & s

row_b <- function(b) {
        b <- b
        b <- buys[i,]
        return(b)
    }

row_s <- function(s) {
        s <- s
        s <- sells[i,]
        return(s)
    }


b <- row_b(b)   
s <- row_s(s)    


b
s

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 0         0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 0        0       0         0         0        0          0           0

  index date  type co  quan pps    basis  sale_quan tally cf_quan cf_pps
2 2     44953 Sell AMC 1000 5.5124 5512.4 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
2 0        0        0       0         0         0        0          0
  sale
2 0

### <font color = yellow> Pass b to the fct: process_sale(b) - which will modify b and return as new variable

In [5]:
process_sale <- function(b) {
    
     # b <- b
    
    cat("\n\n"," Top of process sale function (): ", "\n")
    
    sale <- s$quan
    bs_ratio <- b$quan / s$quan
    cf_quan <-  b$quan - s$quan
    
    # assign the cf values - if they exist
    if(b$quan > s$quan) {
        b$cf_quan <- (b$quan - s$quan)        
        b$cf_pps <- b$pps
        b$cf_basis <- cf_quan * b$pps
    } else {
    b$sale_quan <- b$quan
    b$buy_quan <- s$quan 
    b$buy_pps <-  b$pps
    b$buy_basis <-  b$buy_quan * b$pps

    b$sell_quan <- s$quan
    b$sell_pps <- s$pps
    b$sell_basis <- s$quan * s$pps

    b$profit_loss <- b$sell_basis - b$buy_basis
    b$sale <- sale
    
    s$type <- "SOLD"  
        
    } # else
    
    return(b)
    }

In [6]:
# result var w/ fct call
check <- process_sale(b)

# result var
check

  Top of process sale function ():

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000

## <font color = yellow> Next, have the fct, process_sale(), work w/in a for-loop()

In [26]:
 df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$sale <- as.integer(df$sale)
df_sales <- data.frame()
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells

In [27]:
head(buys, 3)
head(sells, 3)

  index date  type co  quan pps   basis  sale_quan tally cf_quan cf_pps
1 1     44926 Buy  AMC 1000 4.070 4273.5 0         0     0       0
3 3     44946 Buy  AMC 1000 5.625 5625.0 0         0     0       0
5 5     44949 Buy  AMC 1000 5.788 5788.0 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0        0        0       0         0         0        0          0
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
  sale
1 0
3 0
5 0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
2 2     44953 Sell AMC 1000 5.51240 5512.40 0         0     0       0
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
6 6     44960 Sell AMC 1000 6.25500 6255.00 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
2 0        0        0       0         0         0        0          0
4 0        0        0       0         0         0        0          0
6 0        0        0       0         0         0        0          0
  sale
2 0
4 0
6 0

In [28]:
process_sale <- function(b, buys) {
    
    
    #b <- b
    # s < s
   # buys <- buys
    
    cat("Inside: process sale function ().  Have the [i] value of: ", i,  "\n")
    
    sale <- s$quan
    bs_ratio <- b$quan / s$quan
    cf_quan <-  b$quan - s$quan
    
    # assign the cf values - if they exist
#     if(b$quan[i] > s$quan[i]) {
#         b$cf_quan[i] <- (b$quan[i] - s$quan[i])        
#         b$cf_pps[i] <- b$pps[i]
#         b$cf_basis[i] <- cf_quan[i] * b$pps[i]
#     }
    
    # assign regular sale values: ALWAYS 
    b$sale_quan <- b$quan
    b$buy_quan <- s$quan 
    b$buy_pps <-  b$pps
    b$buy_basis <-  b$buy_quan * b$pps

    b$sell_quan <- s$quan
    b$sell_pps <- s$pps
    b$sell_basis <- s$quan * s$pps

    b$profit_loss <- b$sell_basis - b$buy_basis
    b$sale <- sale
    
    s$type <- "SOLD"
    
#      b$sale_quan[i] <- b$quan[i]
#     b$buy_quan[i] <- s$quan[i] 
#     b$buy_pps[i] <-  b$pps[i]
#     b$buy_basis[i] <-  b$buy_quan * b$pps[i]

#     b$sell_quan[i] <- s$quan[i]
#     b$sell_pps[i] <- s$pps[i]
#     b$sell_basis[i] <- s$quan[i] * s$pps[i]

#     b$profit_loss[i] <- b$sell_basis[i] - b$buy_basis[i]
#     b$sale <- sale[i]
    
#    s$type[i] <- "SOLD"
    
    buys <- buys[-1, ]   # clip the first row in buys
        
        
    return(b)
    }

In [29]:
# create one line dfs (first row ) from buys and sells dfs
s <- data.frame()
b <- data.frame()

# Filters the dfs buys and sells, then creates the single row dfs: b & s

row_b <- function(b) {
        b <- b
        b <- buys[1,]
        return(b)
    }

row_s <- function(s) {
        s <- s
        s <- sells[1,]
        return(s)
    }


b <- row_b(b)   
s <- row_s(s)    


b
s

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 0         0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 0        0       0         0         0        0          0           0

  index date  type co  quan pps    basis  sale_quan tally cf_quan cf_pps
2 2     44953 Sell AMC 1000 5.5124 5512.4 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
2 0        0        0       0         0         0        0          0
  sale
2 0

In [30]:
x <- 3

for(i in 1:x) {
    
    cat("\n", "test print i: ", i, "\n")
    
    b <- buys[i, ]   
    s <- sells[i, ]

    cat("The b row index value here is: ", b$index, "\n")
    cat("The buys first row index value here is: ", buys$index[i ], "\n")
    
    test <- process_sale(b, buys)
    return(test)
    
    
    }
test <- process_sale(b,buys)
cat("testing value of i outside fct ", i, "\n")
check <- rbind(test, check)
check

 test print i:  1
The b row index value here is:  1
The buys first row index value here is:  1
Inside: process sale function ().  Have the [i] value of:  1
Inside: process sale function ().  Have the [i] value of:  1
testing value of i outside fct  1

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
2 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
3 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000
2 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000
3 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000

In [31]:
head(buys, 3)

  index date  type co  quan pps   basis  sale_quan tally cf_quan cf_pps
1 1     44926 Buy  AMC 1000 4.070 4273.5 0         0     0       0
3 3     44946 Buy  AMC 1000 5.625 5625.0 0         0     0       0
5 5     44949 Buy  AMC 1000 5.788 5788.0 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0        0        0       0         0         0        0          0
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
  sale
1 0
3 0
5 0

In [32]:
# correctly format the sales_book df
sales_book <- b

In [33]:
conductor <- function(b) {
    b <- b
    
    if(b$quan == s$quan) 
        temp <- process_sale(b)
        records_keep <- rbind(df_sales, temp)
        return(records_keep)
    }

In [34]:
temp <- conductor(b)
temp
sales_book <- temp
sales_book

Inside: process sale function ().  Have the [i] value of:  1

ERROR: Error in process_sale(b): argument "buys" is missing, with no default

In [ ]:
head(buys, 3)
head(sells,3)

In [ ]:
# records_keep <- data.frame()

for(i in 1:nrow(buys)) {
    
   b <- buys[i,]  
   s <- sells[i,]
 
    cat("pass is: ", i, "\n")
    
    
    conductor <- function(b) {
        #b <- b

        if(b$quan == s$quan) {
            temp <- process_sale(b)
            records_keep <- rbind(sales_book, temp)
            return(records_keep)
            }
    
        b <- buys[i + 1, ]
        temp <- conductor(b)
        temp
        sales_book <- rbind(sales_book, temp)
        return(sales_book)
    }
    
sales_book <- conductor(b)
}

sales_book

In [ ]:
nrow(sales_book)
sales_book

In [ ]:

for(i in 1:nrow(df[1:3,])) {
    cat("Howdy for row, ", i, "\n")
    }

In [ ]:
stopps

In [ ]:
# Initialize an empty data frame to store sales records
sales_book <- data.frame()

# Loop through the rows of buys and sells
for (i in 1:nrow(buys)) {
    b <- buys[i,]
    s <- sells[i,]
    
    cat("pass is: ", i, "\n")
    
    # Define the conductor function
    conductor <- function(b) {
        if (b$quan == s$quan) {
            temp <- process_sale(b)
            records_keep <- rbind(sales_book, temp)
            return(records_keep)
        }
        
        # Update b to the next row
        b <- buys[i + 1,]
        temp <- conductor(b)
        sales_book <- rbind(sales_book, temp)
        return(sales_book)
    }
    
    # Call the conductor function
    sales_book <- conductor(b)
}

# Print the final sales_book data frame
sales_book

In [ ]:
nrow(sales_book)

In [ ]:
nrow(records_keep)