## <font color = yellow> A single Sale will combine the first row from the Buys & Sells dfs

In [1]:
library(tibble)

## <font color = yellow> create_df function () - reads .csv

In [2]:
create_df <- function() {
    
    df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
    df$sale <- as.integer(df$sale)
   #  df$date <- as.Date(df$date, origin = "1899-12-30")
   #  df$true_false <- FALSE  
    return(df)  
    }
i <- 1
# fct call
# df <- create_df()

In [3]:
# call fct and create the record keeping df
df <- create_df()
# create empty df
df_records <- data.frame()

# df_buy_rows <- data.frame()

In [4]:
# create dfs from filtered df
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells
head(buys, 3)
head(sells,3)

  index date  type co  quan pps   basis  sale_quan tally cf_quan cf_pps
1 1     44926 Buy  AMC 1000 4.070 4273.5 0         0     0       0
3 3     44946 Buy  AMC 1000 5.625 5625.0 0         0     0       0
5 5     44949 Buy  AMC 1000 5.788 5788.0 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0        0        0       0         0         0        0          0
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
  sale
1 0
3 0
5 0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
2 2     44953 Sell AMC 1000 5.51240 5512.40 0         0     0       0
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
6 6     44960 Sell AMC 1000 6.25500 6255.00 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
2 0        0        0       0         0         0        0          0
4 0        0        0       0         0         0        0          0
6 0        0        0       0         0         0        0          0
  sale
2 0
4 0
6 0

## <font color = yellow> create_dfs function () - returns list of 4 df

In [5]:
# A combo fct that creates the dfs used (combo of above )

create_dfs <- function() {
    #fct call
    df <- create_df()   # the first row in this Notebook
    df_records <- data.frame()
    buys <- df[df$type == 'Buy', ]  # Filter buys
    sells <- df[df$type == 'Sell', ]  # Filter sells
    
    return(list(df = df, df_records = df_records, buys = buys, sells = sells))
  }

## <font color = yellow> Create:  4 new dfs

In [6]:
# Call the combo function, will return a list of dfs
dfs <- create_dfs()

# Access the dataframes from returned list
df <- dfs$df
df_records <- dfs$df_records
buys <- dfs$buys
sells <- dfs$sells

## <font color = yellow> row_b and row_s functions () - create b and s from buys[1,] / sells[1,]

In [7]:
# create one line dfs (first row ) from buys and sells dfs
s <- data.frame()
b <- data.frame()

# Filters the dfs buys and sells, then creates the single row dfs: b & s

row_b <- function(b) {
        b <- b
        b <- buys[1,]
        return(b)
    }

row_s <- function(s) {
        s <- s
        s <- sells[1,]
        return(s)
    }

## <font color = yellow> Creates: b and s

In [8]:
# call fcts

b <- row_b(b)   
s <- row_s(s)    

nrow(b)
nrow(s)

b
s

[1] 1

[1] 1

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 0         0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 0        0       0         0         0        0          0           0

  index date  type co  quan pps    basis  sale_quan tally cf_quan cf_pps
2 2     44953 Sell AMC 1000 5.5124 5512.4 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
2 0        0        0       0         0         0        0          0
  sale
2 0

## <font color = yellow> df_create_records function () - binds b 
    
    needs i value for testing

In [9]:
# Takes basic ( 4 field sell data from b, and uses rbind to add that data to df_records (now a simple single row w/ 4 fields of buy data

#  tested using incrementing values of i which increment b to df_records

df_create_records <- function (df_records, b, i) {
    
    df_records <- df_records
    b <- b   
    i <- i
   
    df_records <- rbind(b, df_records)     

    # for testing only
    # i <<- i + 1
    
    return(df_records)
    
    }
i
nrow(df_records)

[1] 1

[1] 0

### testing in next 2 rows

In [10]:
# i <- 1

In [11]:
#  b <- buys[i+1 ,]
# df_records <- df_create_records(df_records, b, i)
# i
# df_records

In [12]:
i

[1] 1

## <font color = yellow> when_cf function () - fill empty fields from Sale when Buys > Sells ( Has C/F )
    
    
    it seems there is no need to pass df_records into this fct

In [13]:
# These values might be default when there is a carryforward ( Buy > Sell )

when_cf <- function (b, s, df_records) {
    
    b <- b
    s <- s
    df_records <- df_records
    
    
    if(nrow(df_records) == 0) {
        cat("The df_records is an empty df", "\n")
        } else if(nrow(df_records) > 0 ) {
        cat("The df_records has one or more rows of data ", "\n")        
        }
   
    sale <- s$quan
    bs_ratio <- b$quan / s$quan
    cf_quan <-  b$quan - s$quan
    
    # assign the cf values - if they exist
    if(b$quan > s$quan) {
        b$cf_quan <- (b$quan - s$quan)        
        b$cf_pps <- b$pps
        b$cf_basis <- cf_quan * b$pps
    }
    b$sale_quan <- b$quan
    b$buy_quan <- s$quan 
    b$buy_pps <-  b$pps
    b$buy_basis <-  b$buy_quan * b$pps

    b$sell_quan <- s$quan
    b$sell_pps <- s$pps
    b$sell_basis <- s$quan * s$pps

    b$profit_loss <- b$sell_basis - b$buy_basis
    b$sale <- sale
    
    s$type <- "SOLD"
    
    return(b)   
    
    # the dimensions of the dataframe, b, are the same as the dimensions of dataframe, df_records.
    #  t/f, the returned value, b, can be assigned to the var, df_records, which is the var assisned to the calling fct.
    #  and what's really interesting, is this same variable, df_records, is also passed to this function.
    
    
    }

## <font color = yellow>  df_records gets updated with the complete sell data

In [14]:
# fct call 1 to this fct
# will update df_records with Sell data & cf data(if any) those changes to be made to b inside the fct,  when_cf,
# and the when_cf function returns those changes made to b, (return b), which is assigned to df_records.  


df_records <- when_cf(b, s, df_records)
df_records

The df_records is an empty df

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000

## <font color = yellow> test_for_cf function ()

In [15]:
# Row 1 of Buys was deleted.  If there is a c/f in df_records on row 1, then 
# will update the c/f data to buys row 1 .... 50 shares will act as a regular Buy 


test_for_cf <- function(b, buys, df_records) {

    b <- b
    buys <- buys
    df_records <- df_records
    
    if(df_records$cf_quan > 0 ) {
        
        # new var with copies of values from b 
        temp <- b
        
        temp$quan <- df_records$cf_quan
        temp$basis <- df_records$cf_basis
        temp$type <- "Buy-CF"

        
        i <- 1      
        
        # insert row into buys
        buys <- add_row(buys, temp, .before = i)        
        
        }
   } # fct

In [16]:
# this fct must occur when there is non c/f from Buy

## <font color = yellow> sell_snip & snips functions () - the snips will parse row 1, then call test_for_cf fct

In [17]:
#  These functions will delete the first row from the Buys and Sells dfs 
#  concluding the first Sale event

i <- 1


# fct
snips <- function (b, buys, df_records) {
    
    b <- b
    buys <- buys  
    df_records <- df_records
    
    # remove the first row of buys ... is b 
    buys <- buys[-1, ]   
    
    
    # Only if, then call fct that will apend df_records for the c/f values.  Otherwise ... ? 
    if(df_records$cf_quan > 0 ) {
        
        #fct call
        buys <- test_for_cf(b, buys, df_records)        
        return(buys)
        
        }else if( df_records$cf_quan == 0 ) {  
                cat("else if ( df_records$cf_quan == 0 .... ??? ", "\n")
            return(buys)       
         }
    
    #  return(buys)
    
   }  # fct

In [18]:
# fct
sell_snip <- function(sells) {
    sells <- sells    
    sells <- sells[-1, ]    
    return(sells)
    }


# fct call


# nrow(buys)
# nrow(sells)

# buys <- snips(buys)
# sells <- sell_snip(sells)
# nrow(buys)
# nrow(sells)
# head(buys, 3)

In [19]:
df_records

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000

In [20]:
# These are the fcts (in order) to process a Sals, from start to end 

nrow(buys)
nrow(sells)

buys <- snips(b,buys, df_records)
sells <- sell_snip(sells)
nrow(buys)
nrow(sells)
head(buys, 3)

[1] 23

[1] 18

else if ( df_records$cf_quan == 0 .... ???

[1] 22

[1] 17

  index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
3 3     44946 Buy  AMC 1000 5.6250  5625.0 0         0     0       0
5 5     44949 Buy  AMC 1000 5.7880  5788.0 0         0     0       0
7 7     44953 Buy  AMC 2000 5.2394 10478.8 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
7 0        0        0       0         0         0        0          0
  sale
3 0
5 0
7 0

In [21]:
# fct call: to create vars from the first row of Buy & Sell
b <- row_b(b)   
s <- row_s(s)  
b
s

  index date  type co  quan pps   basis sale_quan tally cf_quan cf_pps cf_basis
3 3     44946 Buy  AMC 1000 5.625 5625  0         0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
3 0        0       0         0         0        0          0           0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
4 0        0        0       0         0         0        0          0
  sale
4 0

In [22]:
df_records
head(buys, 3)
head(sells,3)

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1000 4.07 4273.5 1000      0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000

  index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
3 3     44946 Buy  AMC 1000 5.6250  5625.0 0         0     0       0
5 5     44949 Buy  AMC 1000 5.7880  5788.0 0         0     0       0
7 7     44953 Buy  AMC 2000 5.2394 10478.8 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
7 0        0        0       0         0         0        0          0
  sale
3 0
5 0
7 0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
6 6     44960 Sell AMC 1000 6.25500 6255.00 0         0     0       0
8 8     44960 Sell AMC 1000 6.19010 6190.10 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
4 0        0        0       0         0         0        0          0
6 0        0        0       0         0         0        0          0
8 0        0        0       0         0         0        0          0
  sale
4 0
6 0
8 0

In [23]:
 stopps

ERROR: Error in eval(expr, envir, enclos): object 'stopps' not found

# <font color = lime> Loop 1 works when there is a carryforward!

## <font color = yellow> Fresh Start: sequence of functions to process one FiFO Sale (one Buy/ one Sell) 
    
        dfs <- create_dfs() 
        row_b <- function(b) 
        row_s <- function(s) 
        when_cf  when_cf(b, s, df_buy_rows)
        df_records(df_records, b, i) 
        test_for_cf (b,buys, df_records)
        snips <- function (buys) 
        sell_snip <- function(sells)

In [ ]:
# Call the combo function, will return a list of dfs
dfs <- create_dfs()

# Access the dataframes from returned list
df <- dfs$df
df_records <- dfs$df_records
buys <- dfs$buys
sells <- dfs$sells

In [ ]:
b <- row_b(b)   
s <- row_s(s)

In [ ]:
df_records <- df_create_records(df_records, b, i)

In [ ]:
df_records <- when_cf(b, s, df_records)

In [ ]:
buys <- snips(b,buys, df_records)
sells <- sell_snip(sells)

In [ ]:
head(df_records)
head(buys,2)
head(sells,2)

In [ ]:
stopps

### <font color = yellow> works! Now combine in a loop

In [ ]:
row_b <- function(b) {
        b <- b
        b <- buys[i,]
        return(b)
    }

row_s <- function(s) {
        s <- s
        s <- sells[i,]
        return(s)
    }
  

# nrow(b)
# nrow(s)

In [ ]:
# Call the combo function, will return a list of dfs
dfs <- create_dfs()

# Access the dataframes from returned list
df <- dfs$df
df_records <- dfs$df_records
buys <- dfs$buys
sells <- dfs$sells

b <- row_b(b)   
s <- row_s(s)

In [ ]:
for(i in 1:nrow(df[1:1, ])) {
    
    cat("test print ", i, "\n")
    
    b <- row_b(b)   
    s <- row_s(s)  
    
    df_records <- df_create_records(df_records, b, i)
    df_records <- when_cf(b, s, df_records)
    buys <- snips(b,buys, df_records)
    sells <- sell_snip(sells)
    
    }

In [ ]:
b
s

In [ ]:
head(df_records)
head(buys,3)
head(sells,3)

In [ ]:
stopps # end of loop 1

## <font color = yellow> Works as expected w/ one Buy - one Sell - one loop
    
#### <font color = yellow> See what happens using the next Buy / Sell - loop 2 (involves the c/f from Sale 1 )

In [29]:
options(repr.matrix.max.rows = 600, repr.matrix.max.cols = 200)

In [30]:
row_b <- function(b) {
        b <- b
        b <- buys[i,]
        return(b)
    }

row_s <- function(s) {
        s <- s
        s <- sells[i,]
        return(s)
    }
  

# nrow(b)
# nrow(s)

In [31]:
b
s

  index date  type co  quan pps   basis sale_quan tally cf_quan cf_pps cf_basis
3 3     44946 Buy  AMC 1000 5.625 5625  0         0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
3 0        0       0         0         0        0          0           0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
4 0        0        0       0         0         0        0          0
  sale
4 0

In [32]:
# Call the combo function, will return a list of dfs
dfs <- create_dfs()

# Access the dataframes from returned list
df <- dfs$df
df_records <- dfs$df_records
buys <- dfs$buys
sells <- dfs$sells

b <- row_b(b)   
s <- row_s(s)

In [33]:
b
s

   index date  type co  quan pps  basis sale_quan tally cf_quan cf_pps cf_basis
15 15    44970 Buy  AMC 2000 4.71 9420  0         0     0       0      0
   buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
15 0        0       0         0         0        0          0           0

   index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
23 23    44988 Sell AMC 3000 6.5513 19653.9 0         0     0       0
   cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis
23 0        0        0       0         0         0        0
   profit_loss sale
23 0           0

In [34]:
for(i in 1:nrow(df[1:2, ])) {
    
    cat("test print ", i, "\n")
    
    b <- row_b(b)   
    s <- row_s(s)  
    
    df_records <- df_create_records(df_records, b, i)
    df_records <- when_cf(b, s, df_records)
    buys <- snips(b,buys, df_records)
    sells <- sell_snip(sells)
    
    df_records[i,]
    print(buys[i, ])
    print(sells[i, ])
    cat("newline ", "\n")
    }

test print  1
The df_records has one or more rows of data
else if ( df_records$cf_quan == 0 .... ???
  index  date type  co quan   pps basis sale_quan tally cf_quan cf_pps cf_basis
3     3 44946  Buy AMC 1000 5.625  5625         0     0       0      0        0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
3        0       0         0         0        0          0           0    0
  index  date type  co quan     pps   basis sale_quan tally cf_quan cf_pps
4     4 44960 Sell AMC 1000 6.68255 6682.55         0     0       0      0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
4        0        0       0         0         0        0          0           0
  sale
4    0
newline
test print  2
The df_records has one or more rows of data
else if ( df_records$cf_quan == 0 .... ???
  index  date type  co quan    pps   basis sale_quan tally cf_quan cf_pps
7     7 44953  Buy AMC 2000 5.2394 10478.8         0     0       0      0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
7        0        0       0         0         0        0          0           0
  sale
7    0
  index  date type  co quan    pps  basis sale_quan tally cf_quan cf_pps
8     8 44960 Sell AMC 1000 6.1901 6190.1         0     0       0      0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
8        0        0       0         0         0        0          0           0
  sale
8    0
newline

In [35]:
head(df_records)
head(buys,3)
head(sells,3)

  index date  type co  quan pps   basis sale_quan tally cf_quan cf_pps cf_basis
5 5     44949 Buy  AMC 1000 5.788 5788  1000      0     0       0      0
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
5 1000     5.788   5788      1000      6.255    6255       467         1000

  index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
5 5     44949 Buy  AMC 1000 5.7880  5788.0 0         0     0       0
7 7     44953 Buy  AMC 2000 5.2394 10478.8 0         0     0       0
9 9     44967 Buy  AMC 2000 4.7450  9490.0 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
5 0        0        0       0         0         0        0          0
7 0        0        0       0         0         0        0          0
9 0        0        0       0         0         0        0          0
  sale
5 0
7 0
9 0

   index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
6   6    44960 Sell AMC 1000 6.2550  6255.0 0         0     0       0
8   8    44960 Sell AMC 1000 6.1901  6190.1 0         0     0       0
10 10    44978 Sell AMC 3000 5.8550 17565.0 0         0     0       0
   cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis
6  0        0        0       0         0         0        0
8  0        0        0       0         0         0        0
10 0        0        0       0         0         0        0
   profit_loss sale
6  0           0
8  0           0
10 0           0